<mat-toolbar class="nav mat-elevation-z8">
    <img src="assets/comix_logo.png" alt="comix_logo" width="204">
    <span class="spacer"></span>
    <a mat-button routerLink="">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">home</mat-icon>
    </a>
    <a mat-button routerLink="favoritos">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    </a>
    <a mat-button routerLink="busqueda">
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">search</mat-icon>
    </a>
</mat-toolbar>