.search-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 15px auto 0 auto;
}
  
.seacrh-container > * {
    width: 100%;
}

.search {
    width: 100%;
}
.npt1 {
    width: 31%;
    padding-right: 46px;
}
.npt2 {
    width: 31%;
}

table {
    width: 100%;
}
.miniatura {
    padding-top: 5px;
}
.border {
    border-bottom-color: rgba(71, 52, 133, .12);
}
.container-descripcion {
    width: 300px;
}
.fav-container {
    text-align: center;
}
.verdadero {
    color: red;
}