<div class="search-container">
    <div class="search">
        <mat-form-field class="npt1">
            <input matInput name="titulo" placeholder="Titulo" [(ngModel)]="titulo">
        </mat-form-field>
        <mat-form-field class="npt1">
          <input matInput name="dist" placeholder="Distribuidor" [(ngModel)]="dist">
        </mat-form-field>
        <mat-form-field class="npt2">
          <input matInput name="desa" placeholder="Desarrollador" [(ngModel)]="desa">
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="dataSource | search:titulo | search:dist | search:desa" class="mat-elevation-z8">

        <ng-container matColumnDef="id">
          <th class="border" mat-header-cell *matHeaderCellDef></th>
          <td class="border" mat-cell *matCellDef="let element"><img class="miniatura" src="assets/caratulas/{{element.img}}" alt="{{element.titulo}}" width="75px" height="75px"></td>
        </ng-container>
      
        <ng-container matColumnDef="titulo">
          <th class="border" mat-header-cell *matHeaderCellDef> Titulo </th>
          <td class="border" mat-cell *matCellDef="let element"> {{element.titulo}} </td>
        </ng-container>
      
        <ng-container matColumnDef="distribuidor">
          <th class="border" mat-header-cell *matHeaderCellDef> Distribuidor </th>
          <td class="border" mat-cell *matCellDef="let element"> {{element.distribuidor}} </td>
        </ng-container>
    
        <ng-container matColumnDef="desarrollador">
            <th class="border" mat-header-cell *matHeaderCellDef> Desarrollador </th>
            <td class="border" mat-cell *matCellDef="let element"> {{element.desarrollador}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th class="border container-descripcion" mat-header-cell *matHeaderCellDef> Descripción </th>
          <td class="border container-descripcion" mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="fav">
          <th class="border" mat-header-cell *matHeaderCellDef>  </th>
          <td class="border fav-container" mat-cell *matCellDef="let element"> <div *ngIf="element.fav;else elseBlock"><mat-icon class="verdadero" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon></div></td>
          <ng-template #elseBlock><mat-icon aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon></ng-template>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>