.content {
    width: 66%;
    margin: 0 auto;
    padding: 20px 0 0 0;
}
.example-card {
    max-width: 260px;
    display: inline-block;
    margin: 10px;
}
.img_portada {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}